/* 文字大小公用样式 */
.fs-20{
	font-size: 20upx;
}
.fs-22{
	font-size: 22upx;
}
.fs-24{
	font-size: 24upx;
}
.fs-26{
	font-size: 26upx;
}
.fs-28{
	font-size: 28upx;
}
.fs-30{
	font-size: 30upx;
}
.fs-32{
	font-size: 32upx;
}
.fs-34{
	font-size: 34upx;
}
.fs-36{
	font-size: 36upx;
}
